#PGAdmin
PGADMIN_DEFAULT_EMAIL=change
PGADMIN_DEFAULT_PASSWORD=change
PGADMIN_PORT=change

APP_DB_CLIENT=modified
APP_DB_NAME=modified
APP_DB_HOST=modified
APP_DB_PORT=modified
APP_DB_USER=modified
APP_DB_PASS=modified
APP_PORT=modified
APP_STRAPI_PORT=modified